<h1>Articles#create</h1>
<p>Find me in app/views/articles/create.html.erb</p>
<h1>Future article:</h1>
<p><b>Title:</b><%= @title %></p>
<p><b>Content:</b><%= @content %></p>
<p><b>Author:</b><%= @author %></p>
